<!-- Show and delete comment -->
<% unless comment.archived? %>
	<div>
		<div>
			<%= comment.commenter %>
		</div>
		<div>
			<%= comment.body %>
		</div>
	</div>
<p>
	<strong>Commenter:</strong>

</p>

<p>
	<strong>Comment:</strong>
	<%= comment.body %>
</p>

<p>
	<%= link_to "Destroy Comment", [comment.article, comment], data: {
	turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>
<% end %>
